body{
    margin: 0;
}
p{
    font-family: 'Roboto', sans-serif;
}
/* ------------------------Header----------------- */

.logo{
    width: 30px;
    margin-top:-3px;
    margin-right: 35px;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    text-emphasis-style: bold;
}
.poke-me-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-image: linear-gradient(45deg,lightsalmon,rgb(233, 64, 106));
    color: white;
}

/* -------------------------------------------Section-1------------------------------------ */

 /* Classes */

.orange-highlight{
    color: #FF8367;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
.half-width img{
    width: 100%;
}
#top-shrink{
    margin-top: -50px;
    margin-bottom: 50px;
}

.link-btn{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(180deg,tomato,rgb(248, 152, 63));
    color: white;
    font-family: 'Roboto', sans-serif;
}

.half-width h2{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

.about-div{
    padding-bottom: -30px;
}


#download-btn{
    height: 18px;
    width: 15px;
    padding-right: 15px;
    padding-left: -5px;
    padding-top: 10px;
}

.section-about{
    width: 100%;
    height: 700px;
    padding-top: 50px;
    margin-bottom: 170px;
    padding-bottom: 250px;
    background-image: url("/Images/Background Image/bg7.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*-----------------------------------------------Section-3--------------------------------- */

.card-section{
    padding: 5%;
    width: 100%;
    height: 500px;
    background-color: #ebe5e5;
    padding-bottom: 170px;
}
.card-container{
    margin-left: 5%;
    padding-left: 3%;
}
.one-third-width{
    width: 23%;
    margin: 1%;
    float: left;
    background-color: white;
    padding: 2%;
    border-radius: 20px;
}
.one-third-width img{
    width: 100%;
}
.card-section h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-right: 4%;
    font-size: 55px;
}

.padding-a{
    padding: 2%;
}
.full{
    width: 80%;
    padding: 20px;
    box-shadow: rgb(206, 138, 121) 5px 5px 20px;
}

/* -----------------------------------------section-4------------------------- */

.section-inq{
    padding:0% 30%;
    width: 100%;
    padding-bottom: 80px;
}



.inquary{
    background-image: url("/Images/Background Image/Group_33094_1.png");
    background-position: center;
    
    background-size: 700px 190px;
    background-repeat: no-repeat;
    /* border: 2px solid black; */
    
    height: 190px;
    border-radius: 15px;
    /* to change the background size you have to change both the background-size and height: ; width: ; attribute. */
    width: 700px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: -0px;   
    /* margin-left: 30%; */
    
}

.inquary h1{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
}

.half-width-2{
    width: 40%;
    float: left;
    padding-left: 35px;
    margin-left: 30px;
    padding-top: 25px;
}

.link-btn-2 a{
    text-decoration: none;
    
    border-radius: 5px;
    background-image: linear-gradient(180deg,tomato,rgb(248, 152, 63));
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    float: left;
    padding: 10px 20px;
    margin-left: 150px;
    margin-top: 75px;
    
    
}


 /* ---------------------------------------------footer-section---------------- */

 .center-align{
     text-align: center;
     
 }
 .center-al{
     margin-left: 500px;
 }
 .foot-ic{
     height: 35px;
     width: 35px;
     padding: 15px;
 }

 .album-section{
     padding-left: 50px;
     padding-right: 50px;
 }

 .album-section h1{
     text-align: center;
     font-family: 'Bebas Neue', cursive;
     font-size: 50px;
 }